body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;    
    gap: 20px;
    align-items: center;
}

main > p{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(96, 96, 96);
    max-width: 300px;
}

